h1{
	color: rgba(45,45,45,1);
}
body{
	color: brown;
	background: url(https://previews.123rf.com/images/cnuisin/cnuisin1809/cnuisin180900475/109629164-dog-bone-seamless-pattern-vector-dog-paw-doodle-isolated-wallpaper-background.jpg);

}
#sp{

color: blue;
background: yellow;
text-decoration: underline wavy black;
}